@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
	/* Primary color variables*/
		--color-primary: 0 100 255;
		--color-secondary: 0 150 0;
		--color-error: 255 0 0;
		--color-content: 255 255 255;

	/* UI color Variables */
		--color-base-1: 34 34 34;
		--color-base-2: 17 17 17;
		--color-base-3: 0 0 0;
		--color-base-content: var(--color-content);
		--color-base-invert: var(--color-base-3);

	/* UI Defaults */
		color: rgb(var(--color-base-content));

	/* Light Theme -- nested in order to override any defaults*/
		&[data-theme=light] {
			--color-base-1: 255 255 255;
			--color-base-2: 221 221 221;
			--color-base-3: 207 207 207;
			--color-base-content: 34 34 34;
			--color-invert: var(--color-base-3);
		}
	}
}